import Config

# To fetch weather data from Open Weathermap, you'll need an API key.  A free account can be
# set up at https://home.openweathermap.org/users/sign_up.  Once set up, visit
# https://home.openweathermap.org/api_keys to generate an API key.
#
# After generating your API key, paste it into the config line below:
config :weather, :weather_service_api_key, "PASTE-YOUR-API-KEY-HERE-BETWEEN-THE-QUOTE-MARKS"

# Once the API key has been set, rename this file to openweather.secret.exs
